.button-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    height: 400px;
    width: 400px;
}


.button-top {
    background-color: var(--c-red);
    transform: translate(0px, 50%);
    width: 200px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--c-border);
    border-bottom: none;
    z-index: 1;
    
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button-middle {
    background-color: var(--c-red-dark);
    height: 100px;
    width: 200px;

    border: 10px solid var(--c-border);
    border-bottom: none;
    border-top: none;
    z-index: 0;

    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.button-bottom {
    background-color: var(--c-red-dark);
    position: absolute;
    transform: translate(0px, -50%);
    width: 200px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--c-border);
    z-index: -1;

    box-shadow: 0px 0px 0px 10px var(--c-background-shadow);
    -webkit-box-shadow: 0px 0px 0px 10px var(--c-background-shadow);
    -moz-box-shadow: 0px 0px 0px 10px var(--c-background-shadow);
}

.button-middle:hover,
.button-top:hover ~ .button-middle {
    /*height: 120px;*/
}

.button-middle.pressed {
    height: 30px;
    transition: 0.4s cubic-bezier(0,1.3,.37,1);
}

.button-text {
    font-weight: 800;
    transform: scale(1, 0.8);
    color: var(--c-background);
    font-size: 1.5rem;
    padding-bottom: 1rem;
}